# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/uploadImage-frontEnd/dist
/uploadImage-frontEnd/tmp
/uploadImage-frontEnd/out-tsc
# Only exists if Bazel was run
/uploadImage-frontEnd/bazel-out

# dependencies
/uploadImage-frontEnd/node_modules

# profiling files
/uploadImage-frontEnd/chrome-profiler-events.json
/uploadImage-frontEnd/speed-measure-plugin.json

# IDEs and editors
/uploadImage-frontEnd/.idea
/uploadImage-frontEnd/.project
/uploadImage-frontEnd/.classpath
/uploadImage-frontEnd/.c9/
/uploadImage-frontEnd/*.launch
/uploadImage-frontEnd/.settings/
/uploadImage-frontEnd/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/uploadImage-frontEnd/.sass-cache
/uploadImage-frontEnd/connect.lock
/uploadImage-frontEnd/coverage
/uploadImage-frontEnd/libpeerconnection.log
/uploadImage-frontEnd/npm-debug.log
/uploadImage-frontEnd/yarn-error.log
/uploadImage-frontEnd/testem.log
/uploadImage-frontEnd/typings

# System Files
/uploadImage-frontEnd/.DS_Store
/uploadImage-frontEnd/Thumbs.db
